requests==2.20.0
APScheduler==3.1.0
numpy==1.15.0
scipy==0.17.0
scikit-learn==0.17.1
bigfloat==0.3.0
pyetrade===1.2.0
pymongo==3.11.2
python-dotenv==0.15.0
python-dateutil==2.8.1
pyotp==2.4.1
robin_stocks==1.7.0